.list {
  display: flex;
}

.link {
  padding: 30px;
  font-size: 18px;
  font-weight: 600;
  display: block;
  text-decoration: none;

  &:hover {
    color: #383bcf;
    position: relative;
    border-bottom: 3px solid #383BCF;
  }
}

.active {
  color: #383bcf;
  border-bottom: 3px solid #383BCF;
}