.values__container.container {
  @include phones {
    min-height: 600px;
  }
}

.reviews {
  background: url("~images/bg/Budda.jpg") top 20% right 45% / auto;

  &__container {
    display: flex;
    align-items: center;
    height: 77vh;
  }
}