.user {
  &__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar-wrapper {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 80px;
  }

  &__data-title {
    min-width: 170px;
    color: rgba($text-color, .5);
  }

  &__data-content {
    font-weight: 600;
  }
}
