script(type="text/x-template")#preview-container
  .works__content 
    display(
      :currentWork="currentWork",
      :works="works",
      :currentIndex="currentIndex",
      :disabledButtons="disabledButtons"
      :direction="direction"
      @slide="slide"
    )
    info(
      :currentWork="currentWork"
    )

script(type="text/x-template")#preview-display
  .works__pictures(:data-slide="currentIndex + 1")
    .works__pictures-content
      img(:src="currentWork.photo").works__img
      .works__thumbs
        thumbs(
          :works="reversedWorks",
          :currentWork="currentWork"
          :direction="direction"
        )    
      .works__btns
        btns(
          @slide="$emit('slide', $event)",
          :disabledButtons="disabledButtons"
        )

script(type="text/x-template")#preview-thumbs
  transition-group(
    tag="ul"
    :css="false"
    @enter="enterCb"
    @after-enter="afterCb"
    @leave="leaveCb"
  ).thumbs 
    li.thumbs__item(
      v-for="work in works" :key="work.id"
      :class="{active: currentWork.id === work.id}"
      ) 
      a(href="#").thumbs__link
        img(:src="work.photo").thumbs__pic

script(type="text/x-template")#preview-btns
  .square-btns 
    button(
      type="button"
      @click="$emit('slide', 'next')"
      :disabled="disabledButtons.next"
    ).square-btns__item.square-btns__item--next
      +icon("arrow-down", "square-btns__icon")
    button(
      type="button"
      @click="$emit('slide', 'prev')"
      :disabled="disabledButtons.prev"
    ).square-btns__item.square-btns__item--prev 
      +icon("arrow-down", "square-btns__icon") 

script(type="text/x-template")#preview-info
  .works__info
    tags(
      :tags="currentWork.techs"
    )
    .works__title {{currentWork.title}}
    .works__desc
      p {{currentWork.description}}
    a(:href="currentWork.link").iconed-link Посмотреть сайт

script(type="text/x-template")#preview-tags
  ul.tags 
    li.tags__item(v-for="tag in tags")
      .tag {{tag}}