.review__header {
  display: flex;
}

.review__avatar {
  margin-right: 20px;
}

.review__author {
  word-wrap: break-word;
}

.review__position {
  font-weight: 600;
  font-style: 16px;
  line-height: 22px;
  color: rgba(65, 76, 99, .5);
  word-wrap: break-word;
}

.review__content {
  height: 100%;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.review__actions {
  display: flex;
  justify-content: space-between;
}