section.about
  .container.about__container 
    .about__user 
      .user
        .user__avatar 
          .user__avatar-wrapper
            +image("content/tatiana.jpg", "user__avatar-pic")
          -
            var userInfo = [
              {
                key: "Проживаю",
                value: "Уфа"
              },
              {
                key: "Возраст",
                value: "29 лет"
              },
              {
                key: "Родился",
                value: "2 ноября 1991"
              }
            ];

          table.user__data 
            each item in userInfo 
              tr.user__data-row 
                td.user__data-title #{item.key}:
                td.user__data-content #{item.value}

    .about__content 
      .about__desc Привет, меня зовут
      .about__title Блинова Татьяна
      .about__text-info 
        p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
      .about__ps 
        | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!