section.reviews
  .container.reviews__container
    .slider
      .slider__header
        .section-title.slider__section-title Что обо мне говорят
        .slider__btns
          button(type="buttons").round-btn.round-btn--pointer--left
            +icon("arrow-down", "round-btn__icon")
          button(type="buttons").round-btn.round-btn--pointer--right
            +icon("arrow-down", "round-btn__icon")
      - 
        var reviewsData = [
          {
            author: "Ковальчук Дмитрий",
            position: "Основатель Loftschool",
            comment: "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!",
            photo: "user"
          },
          {
            author: "Владимир Сабанцев",
            position: "Преподаватель",
            comment: "Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах",
            photo: "user"
          }
        ];
      ul.slider__content
        each review in reviewsData 
          li.slider__item 
            .slider__item-pic 
              +icon("quote", "slider__item-icon")
            .quote 
              .quote__text 
                p #{review.comment} 
              .quote__user
                .user-display 
                  .user-display__avatar 
                    .user-display__avatar-style 
                      +image(`content/${review.photo}.jpg`, "user-display__pic")
                  .user-display__data
                    .user-display__name #{review.author} 
                    .user-display__position #{review.position}