extends main.layout.pug 
include ./mixins.pug

block content 
  .welcome-section
    include ./sections/hero.pug          
    include ./sections/about.pug

  .middle-section 
    +triangle("triangles__top")

    include ./sections/values.pug
    include ./sections/works.pug

    +triangle("triangles__bottom")

    include ./sections/reviews.pug
    include ./sections/footer.pug